.main_chat
  .main_chat-header
    .left_chat-header
      .chat-group-name
        %h2 ミノル組
      .chat-group-messeage
        %h3 Member:
    .right_chat-header
      %a{:href => "#"}
        %h3 Edit
  .main_chat-body
    .chat-body_person
      %h3 ミノルちゃん
    .person-message
      %p 初めての投稿です。
  .main-chat-form
    .form-input
      %input{:placeholder => "type a message", :type => "text"}/
      %label
        .fas.fa-image
        %input.file-coll{:type => "file"}/
    .form-submit
      %input{:type => "submit", :value => "SENT"}/
