!!!
%html
  %body
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name tanaka
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              %link_to{href: "/groups/new"}
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              %link_to{href: "/users/2180/edit"}
                %i.fa.fa-cog
      .groups
        .group-wrap
          .group_name
            %h2 ミノル組
          .group_messeage
            %h3 メッセージ
